.info-box {
  display: flex;
  flex-direction: column;
  margin-top: 70px;

  h2 {
    color: var(--green);
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .info-box__content {
    position: relative;

    .loading {
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--green);
      }
    }
    .error-fetch {
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;
    }
  }
}
