.navigation {
  background-color: var(--main-color);
  font-size: 16px;
  width: 260px;
  flex-wrap: nowrap;
  .actived {
    color: var(--green);
  }
  a {
    text-decoration: none;
    color: var(--gray-letter-color);
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    gap: 20px;
    padding: 18px 20px;
    &:hover {
      color: var(--green);
    }
    svg {
      width: 14px;
      height: 14px;
    }
  }
}
