.panel {
  display: flex;
  flex-direction: row;
  width: 290px;
  height: 100%;
  position: fixed;
  .panel-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 100%;
    background-color: var(--main-color);
    figure {
      margin-top: 20px;
      margin-bottom: 40px;
    }
    button {
      align-self: center;
    }
  }
  .burger {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
    height: 30px;
    width: 30px;
    margin-top: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    svg {
      margin-top: 8px;
      margin-left: 8px;
    }
  }
}
