.portfolio-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 0.8s, background-color 0.8s;
  h3 {
    color: var(--green);
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    font-size: 14px;
    color: var(--green);
    text-decoration: underline;
  }
}
